body {
  margin: 50px;
  background: rgb(1,158,247);
  background: radial-gradient(linear, rgba(1,158,247,1) 0%, rgba(0,69,162,1) 35%);
  font-family: verdana;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ongoing-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-over {
  font-size: 2em;
}

.link-page {
  padding: 5px;  
}

.link-welcome {
  font-size: 1.5em;
  font-weight: 600;
  background-color: #2db52d;
  border-radius: 8px;
  border: 4px;
  color: #FFF;
  border-style: none;
  width: 180px;
  height: 40px;
  filter: drop-shadow(4px 4px 8px rgba(0,0,0,0.3));
  padding: 15px;
  margin: 20px;
}

.link-page {
  font-size: 1em;
  font-weight: 600;
  background-color: #2db52d;
  border-radius: 8px;
  border: 4px;
  color: #FFF;
  border-style: none;
  filter: drop-shadow(4px 4px 8px rgba(0,0,0,0.3));
  padding: 15px;
  margin: 10px;
}

.btn-disconnect {
  margin-top:50px;
}

.other-games{
  margin-top:50px;
}